@media (max-width:640px) {
/*главная*/
body {
  background-image: url("../images/fon640.jpg");
  /*background-repeat: no-repeat;
  background-size: 100% 110.5%;*/
  background-size: cover;
  background-position:top; 
  font-size: 20px;
}
.nav {    
    display:none;
}
.nav-mobile {
    width: 50%;
    float: right;
}
.nav-mobile-button {
    right: 2%;
    width: 100%;
    position: relative;
    z-index: 2;
    text-align: right;
    margin-top:2%
}
.nav-mobile-button img {
    cursor:pointer;
    width: 25%;
}
.nav-mobile-menu {
    text-align: center;
    padding-top: 10%;
    z-index: 1;
    width: 50%;
    display: none;
    position: absolute;
    top:0;
    background-color:#705290;
}
.nav-mobile-menu li {
    margin-bottom: 15%;
    font-size: 5vw;
    font-family: PhillippScript;


}
.nav-mobile-menu li a {
    color:white;
    text-decoration: none;
}
main {
    margin-top:12%; 
    width:100%;
    text-align:center;
    box-sizing:border-box;
    padding:0 6%;
}
.main-title {
    margin:0;
    font-size: 5vw;
    margin-bottom: 12%;
}
.main-introduction{
    margin:0;
    font-size:4.5vw;
    text-indent: 5%;
    padding: 0;
}
.stock {
    margin: 10% auto 0 auto;
    width: 90%;
    padding: 0;
}
.stock-title {
    margin: 9% 0;
    font-size: 5vw;
}
.stock-text {
    display: none;
}
.stock-images {
     display: none;
}
.stock-images-mobile img {
    margin-bottom:5%;
    width: 80%;
}
.stock-images-mobile img:last-child {
    margin-bottom:0;
}
.stock-button {
    margin: 9% 0;
    padding: 2% 0;
    width: 80%;
    font-size: 7vw;
}

.news {
    padding: 0px 8%;
    width: 73%;
    margin: 10% auto 0 auto;
}

.news-text {
    font-family: Arial, Helvetica, sans-serif;
    color:#888888;
    font-size: 4vw;
}
.news-content {
    margin-top:9%;
    text-align: center;
}
.news-calendar {
    margin: 0;
    width: 100%;
    float:none;
}
.news-calendar img {
    margin-bottom: 9%;
    width: 40%;
}
.news-details {
    font-size: 3vw;
    width: 100%;
    float:none;
}
.news-details-text {
    margin:-6.6% 0 5% 12%;
}
.news-details-text:last-child {
    margin:-6.6% 0 0 12%;
}
.news-details-marker {
    width: 6%;
}
.news-button {
    width: 100%;
}
/*about*/

.about {
    font-size: 4.5vw;
}
.about-title {
    font-size: 5vw;
}
.about-introduction-marker {
    width: 5%;
}
.about-introduction-text {
    text-align: justify;
}
.about-i-photo {
    width: 100%;
}
.about-i-text {
    width: 100%;
    margin:3% 0 0 0;
}
.about-form-title {
    font-size: 3.4vw;
}
.about-form-input {
    margin-bottom: 3%;
    width: 100%;
    padding: 2% 0 2% 0.5%;
    font-size: 3.5vw;
    box-sizing: border-box;
}
.about-form-input-email, .about-form-input-phone {
    left: 0;
    float: none;
    width: 100%;
}
.about-form-input-message {
    padding-bottom: 25%;
}
.about-info-button {
    margin: 0;
    width: 100%;
    padding: 2% 0;
    font-size: 5vw;   
}

/*каталог*/    
.catalog-butterfly-img {
    display: none;
}
.catalog-title {
    font-size:3.5vw; 
}
.catalog-introduction {
    font-size: 3.5vw;
}
.catalog-info {
    font-size: 3.5vw;
}
.catalog-info-title {
    font-size: 3.9vw;
}
.catalog-img {
    text-align: center;
} 
.catalog-img-prew {
    width: 80%;
}
.catalog-img-prew-right {
    margin: 5% 0 0 0;
}
.catalog-caption-text {
    font-size: 4vw;
}
.product-preview-caption {
    font-size: 3vw;
}
.catalog-info-recomendation {
    font-size: 3.5vw;   
}
.catalog-polimer-introduction {
     font-size: 3.5vw;   
}
.catalog-navigation {
    display:none;
}
.Link {
    padding: 1% 3%;
    font-size: 2.6vw;
}
.product-preview {
    width: 45%;
    font-size: 3.5vw;
    margin-right: 5%;
}
.product-preview:nth-child(3n) {
  margin-right:5%;
}
.product-preview:nth-child(2n) {
  margin-right:0;
}
.product-preview-button-img {
    margin-left: 33%;
    width: 32%;
    font-size: 3vw;
}
.product-preview-thumbs:before {
    height: 35%
}
.product-preview-thumbs:focus:before, .product-preview-thumbs:hover:before {
    top:65%;
}
.pages {
   width:90%;
}
.pages-link, .pages-numbers-link{
    font-size: 3vw;
}



#product, #order {
    background-image: none;
    background-color: silver;
}
#b-popup .b-popup-content {
    width: 100%;
}
.product-info-name {
    font-size: 2.5vw;
}
.product-info-text {
    font-size: 2.5vw;
}
.product-info-button {
    font-size: 3vw;
}
.carousel .thumbs-wrapper {
    margin-top:4.5%;
}
.order-title, .order-form-input {
    font-size: 2.5vw;
}
.order-buttons-send {
    font-size: 3vw;
    margin: 26.1% auto 2% auto;
}
.order-buttons-back {
    font-size: 2vw;
}

/*футер*/
footer {
    width: 78%;
    text-align: center;
    margin: 7% auto 0 auto;
    padding: 2% 0 0 0;
}
.footer-content-icons {
    position: relative;
    width: 100%;
    margin: 0;
}
.footer-content-icons img {
    cursor:pointer;
    width: 10%;
    margin: 0 6.5% 0 6.5%;
}
.footer-content-regulations {
    padding: 0 17%;    
    position: absolute;
    margin:29% 0 4% 0;
    left: 0;
}
.footer-content-regulations-title {
    font-size: 3vw;
    margin: 0% 0 2% 0;
    font-weight: bolder;

}
.footer-content-developer {
    display: none;
}
.footer-content-contacts {
    position: relative;
    margin: 0;
    padding:0;
    text-align: center;
}
.footer-title {
    margin: 10% 0 5% 0;
    font-size: 3vw;
}
.footer-text {
    font-size: 2vw;
}
.clear {
    clear: both;
}


}



@media (min-width:641px){

.stock-images-mobile {
    display: none;
}
.nav-mobile {
    display: none;
}
header{
    display:none;
}
    
}

@media (max-width:801px){
.lesson-form img {
    width: 18%;
}
.lesson-input {
    margin-left: 37%;
}
.lesson-form-input {
    width: 99%;
}
.lesson-form-input-message {
    width: 159.5%;
}
.lesson-form-input-date {
    width: 102.5%;
}
.lesson-form-input-message {
    right: 58.9%;
} 
}