.catalog{
  outline:2px solid blue;
}
.catalog-title .main-title {
  font-size: 2.5vw;
  margin-top: 10%;
  padding-bottom: 6.5%;
}
.catalog-title .main-introduction {
  font-size: 1.5vw;
}
.catalog-img {
  margin-top:0.6%;
}
.catalog-img img {
  width: 32%;
  margin-right:1.5%;
}
.catalog-img .last {
  margin-right:0%;
} 

.catalog-navbar{
  display:inline;
}

.catalog-info {
  outline:3px solid blue;
  margin-top: 7%;
}
.catalog-info-polimer, .catalog-info-jewellery {
  background-image: url("../images/catalog/fon-info.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0.1%;
}
.catalog-info-jewellery {
  margin-top: 5%;
}

.catalog-info-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vw;
  color: rgb(112, 82, 144);
}
.catalog-info-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3vw;
  color: rgb(136, 136, 136);
  text-align: justify;
  text-indent: 2%;
  padding-bottom: 3%;
  margin: 0 1%;
}
