
@font-face {
  font-family: 'PhillippScript';
  src: url('../fonts/PhillippScript/PhillippScript.eot');
  src: local('☺'), url('../fonts/PhillippScript/PhillippScript.woff') format('woff'), url('../fonts/PhillippScript.ttf') format('truetype'), url('../fonts/PhillippScript/PhillippScript.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


body {
  background-position: center;
  background-image: url("../images/fon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 142vw;
}
#wrapper {
  position: relative;
  min-height: 100%;
}

main {
  float: right;
  width:71%;
  outline: 0px solid red;
  margin-top: 17%;
  text-align: center;
  padding:4% 6% 0 3%;
}

.nav {
  float:left;
  margin-top:34%;
  margin-left: 1.5%;
  outline: 0px solid green;
  width:14%;


}
.navbar-button{
  margin-top: 7%;
  width:96%;
}


.navbar-button img{
  width:100%;
}
.navbar-butterfly{
    position: absolute;
    z-index:2;
    width: 3%;
    margin-left: -0.5%;
}
.navbar-butterfly2{
    position: absolute;
    z-index:2;
    width: 2.5%;
    margin-top: 11%;
    margin-left: 11.8%;
}
.navbar-butterfly3{
    position: absolute;
    z-index:2;
    width: 2.5%;
    margin-top: 21.9%;
    margin-left: -0.8%;
}



.main-title{
  outline:0px solid red;
  font-family: Arial;
  font-size: 2vw;
  color: #705290;
  margin:0 10%
}
.main-introduction {
  margin-top:5.5%;
  outline:0px solid red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4vw;
  color: #888888;
  padding-bottom: 1.5%;
  text-align: justify;
  line-height: 130%;
  text-indent: 2vw;
}
.main-introduction p {
   margin: 0;
}
.center {
  margin: 0;
  text-align: center;
}

.stock {
  margin-top: 5.5%;
  padding: 3% 2%;
  outline: 0px solid yellow;
  background-size: cover;
  border: 1px solid rgba(129, 88, 159, 0.349);
  background-color: rgba(255, 255, 255, 0.349);
  
}
.stock-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7vw;
  color: #705290;
}
.stock-text {
  margin: 2.2% 0;
  outline: 0px solid red;
  font-family: Arial, Helvetica, sans-serif;
  color:#888888;
  font-size: 1.2vw;
  font-weight: bolder;
  line-height: 130%;
}
.link-contacts {
  color: #705290;
  text-decoration: none;
}
.link-contacts:hover {
  text-decoration: underline;
}
.news-text {
  margin: 2.2% 0;
  outline: 0px solid red;
  font-family: Arial, Helvetica, sans-serif;
  color:#888888;
  font-size: 1.2vw;
  font-weight: bolder;
  line-height: 130%;
}
.stock-images {
  outline:0px solid red;
  margin: 3.2% 0% 4% 1.2%;
}
.stock-images-640{
    display:none;
}

.stock-img {
  outline:0px solid red;


}
.stock-img:last-child {
  margin-right: 0;
}

.stock-button {
  display:inline-block;
  width: 27%;
  border: 1px solid #705290;
  border-radius: 10px;
  padding-top: 0.3%;
  font-family: PhillippScript;
  font-size: 2vw;
  color:#705290;
}
.stock-button a {
  text-decoration: none;
}
.news {
  outline: 0px solid green;
  border: 1px solid rgba(129, 88, 159, 0.349);
  background-color: rgba(255, 255, 255, 0.349);
  background-size: cover;
  padding:3% 2%;
  margin-top: 7%;
  margin-bottom: 14%;
}
.news-content {
  outline: 0px solid orange;
}
.news-calendar {
  width: 14.5%;
  margin:4% 0 0 4%;
  float:left;
  outline: 0px solid red;
}
.news-calendar-img {
  width:100%;
}
.news-details {
  width: 76%;
  margin-top:-0.5%;
  float: right;
  text-align: left;
  outline: 0px solid blue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2vw;
  color: #888888;
  }
.news-details-text {
  position: relative;
  margin: -3.5%  4% 3% 6%;
  outline: 0px solid yellow;
  text-indent: 1vw;
}
.news-details-marker {
  position: relative;
  display: inline;
  width:4%;
}
.clear {
  clear: both;
}
.button .button-more {
  margin-top: 0;
}

footer{
  position: absolute;
  bottom:0;
  width: 100%;
  /*margin-top: 3.1%;*/
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  outline:0px solid red;
}
.footer-content{
  outline:0px solid black;
  font-family: Arial, Helvetica, sans-serif;
  color: #888888;
}
.footer-title{
  font-size:0.8vw;
  font-weight: bolder;
  margin: 0;
  margin-bottom: 3%;
}
.footer-text{
  font-size:0.7vw;
  margin: 0;
  margin-bottom: 1%
}

.footer-content-regulations {
  display: inline-block;
  outline:0px solid blue;
  margin-left: 23.5%;
}
.footer-content-regulations-title {
  font-weight: bolder;
  margin-top: 0;
  font-size: 0.8vw;
}

.footer-content-icons{
  width: 15%;
  position: absolute;
  display: inline-block;
  outline:0px solid orange;
  margin-left: 7%;
  margin-top:0.3%; 
}
.footer-content-icons-img {
  width: 15%;
  margin-right: 6%;
}

.footer-content-developer{
  margin-left: 7.7%;
  font-size:0.7vw;
  outline: 0px solid red;
  display: inline-block;
}
.footer-content-developer-title {
  margin-top: 1%;
  font-size:0.7vw;
}
.footer-content-developer-title a {
  text-decoration: underline;
  color:#888888;
}


.footer-content-contacts {
  position: absolute;
  margin-left: 4.5%;
  display: inline-block;
  outline:0px solid green;
  text-align: right;
}
.footer-content-contacts-title {
  margin-bottom: 7%;
}
.footer-content-contacts-text {
  margin-bottom: 3%;
}
