/*@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadPro/MyriadPro-Regular.eot');
	src: local('☺'), url('../fonts/MyriadPro/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro/MyriadPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}*/
@font-face {
  font-family: 'PhillippScript';
  src: url('../fonts/PhillippScript/PhillippScript.eot');
  src: local('☺'), url('../fonts/PhillippScript/PhillippScript.woff') format('woff'), url('../fonts/PhillippScript.ttf') format('truetype'), url('../fonts/PhillippScript/PhillippScript.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background-image: url("../images/fon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
main {
  float: right;
  width:71%;
  outline: 4px solid red;
  margin-top: 17%;
  text-align: center;
  padding:4% 6% 0 3%;
}

nav {
  float:left;
  margin-top:34%;
  margin-left: 1.5%;
  outline: 2px solid green;
  width:14%;


}
.navbar-button{
  margin-top: 7%;
  width:96%;
}


.navbar-button img{
  width:100%;
}
.navbar-butterfly{
    position: absolute;
    z-index:2;
    width: 3%;
    margin-left: -0.5%;
}
.navbar-butterfly2{
    position: absolute;
    z-index:2;
    width: 2.5%;
    margin-top: 11%;
    margin-left: 11.8%;
}
.navbar-butterfly3{
    position: absolute;
    z-index:2;
    width: 2.5%;
    margin-top: 21.9%;
    margin-left: -0.8%;
}



.main-title{
  outline:2px solid red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vw;
  color: #705290;
  margin:0 10%
}
.main-introduction{
  margin-top:5.5%;
  outline:3px solid red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4vw;
  color: #888888;
  padding-bottom: 1.5%;
  text-align: justify;
  line-height: 130%;
}
.center {
  margin: 0;
  text-align: center;
}

.stock {
  margin-top: 5.5%;
  padding: 3% 2%;
  outline: 2px solid yellow;
  background-size: cover;
  border: 1px solid rgba(129, 88, 159, 0.349);
  background-color: rgba(255, 255, 255, 0.349);
  
}
.stock-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7vw;
  color: #705290;
}
.stock-text {
  margin: 2.2% 0;
  outline: 2px solid red;
  font-family: Arial, Helvetica, sans-serif;
  color:#888888;
  font-size: 1.2vw;
  font-weight: bolder;
  line-height: 130%;

}
.stock-images {
  outline:2px solid red;
  margin: 3.2% 0% 4% 1.2%;
}
.stock-images-640{
    display:none;
}

.stock-img {
  outline:2px solid red;


}
.stock-img:last-child {
  margin-right: 0;
}

.button {
  display:inline-block;
  width: 27%;
  border: 1px solid #705290;
  border-radius: 10px;
  padding-top: 0.3%;
  font-family: PhillippScript;
  font-size: 2vw;
  color:#705290;
}
.news {
  outline: 2px solid green;
  border: 1px solid rgba(129, 88, 159, 0.349);
  background-color: rgba(255, 255, 255, 0.349);
  background-size: cover;
  padding:3% 2%;
  margin-top: 7%;
}
.news-content {
  outline: 2px solid orange;
}
.news-calendar {
  width: 14.5%;
  margin:4% 0 0 4%;
  float:left;
  outline: 2px solid red;
}
.news-calendar-img {
  width:100%;
}
.news-details {
  width: 76%;
  margin-top:-0.5%;
  float: right;
  text-align: left;
  outline: 2px solid blue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2vw;
  color: #888888;
  }
.news-details-text {
  position: relative;
  margin: -3.5%  0 3% 6%;
  outline: 2px solid yellow;
}
.news-details-marker {
  position: relative;
  display: inline;
  width:4%;
}
.clear {
  clear: both;
}
.button .button-more {
  margin-top: 0;
}
footer{
  display: none;
  outline:2px solid magenta;
}
.footer-content{
  outline:0px solid black;
  float:right;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(96, 92, 101);
  margin-right:5.7%;
  text-align: right;
  margin-top: 2.8%;
}
.footer-title{
  font-size:1.3vw;
  font-weight: bolder;
  margin: 0;
  margin-bottom: 8%;
}
.footer-text{
  font-size:1vw;
   margin: 0;
   margin-bottom: 1%
}



