/*@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadPro/MyriadPro-Regular.eot');
	src: local('☺'), url('../fonts/MyriadPro/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro/MyriadPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}*/
body {
  font-size: 30px;
  background-image: url("../images/fon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
main {
  float: right;
  width:71%;
  outline: 4px solid red;
  margin-top: 17%;
  text-align: center;
  padding:4% 6% 0 3%;
}

nav {
  float:left;
  margin-top:34%;
  margin-left: 1.5%;
  outline: 2px solid green;
  width:14%;


}
.navbar-button{
  margin-top: 7%;
  width:96%;
}


.navbar-button img{
  width:100%;
}
.navbar-butterfly{
    position: absolute;
    z-index:2;
    width: 3%;
    margin-left: -0.5%;
}
.navbar-butterfly2{
    position: absolute;
    z-index:2;
    width: 2.5%;
    margin-top: 11%;
    margin-left: 11.8%;
}
.navbar-butterfly3{
    position: absolute;
    z-index:2;
    width: 2.5%;
    margin-top: 21.9%;
    margin-left: -0.8%;
}



.main-title{
  outline:2px solid red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vw;
  color: #705290;
  margin:0 10%
}
.main-introduction{
  margin-top:5.5%;
  outline:3px solid red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4vw;
  color: #888888;
  padding-bottom: 1.5%;
  text-align: justify;
  line-height: 130%;
}
.center {
  margin: 0;
  text-align: center;
}

.stock {
  margin-top: 5.5%;
  padding: 3% 2%;
  outline: 2px solid yellow;
  background-image: url("../images/fon2.png");
  background-repeat: no-repeat;
  background-size: cover;
  
}
.stock-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7vw;
  color: #705290;
}
.stock-text {
  margin: 2.2% 0;
  outline: 2px solid red;
  font-family: Arial, Helvetica, sans-serif;
  color:#888888;
  font-size: 1.2vw;
  font-weight: bolder;
  line-height: 130%;

}
.stock-images {
  outline:2px solid red;
  margin: 3.2% 0% 0 1.2%;
}
.stock-images-640{
    display:none;
}

.stock-img {
  outline:2px solid red;


}
.stock-img:last-child {
  margin-right: 0;
}

.button {
  margin-top: 5%;

}

.button-img{
  width: 29%;
}
.news {
  display:none;
  outline: 0px solid green;
  background-image: url("../images/fon2.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5%;
  margin-top: 5%;
  padding-bottom: 3%;
}
.news-content {
  outline: 0px solid orange;
}
.news-calendar {
  outline: 0px solid red;
}
.news-calendar-img {
  float: left;
  width:14%;
  margin:3% 0 15% 6%;
}
.news-details {
  text-align: left;
  outline: 0px solid blue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6vw;
  color: rgb(96, 92, 101);
  margin-left:24.5%;
  margin-right: 4%;
  }
.news-details-marker {
  margin-top: 2%;
  display: inline;
  width:5%;
}
.clear {
  clear: both;
}
.news-button{
  margin-bottom:2%;
}
footer{
  display:none;
  outline:0px solid magenta;
  margin-top:17%;
}
.footer-content{
  outline:0px solid black;
  float:right;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(96, 92, 101);
  margin-right:5.7%;
  text-align: right;
  margin-top: 2.8%;
}
.footer-title{
  font-size:1.3vw;
  font-weight: bolder;
  margin: 0;
  margin-bottom: 8%;
}
.footer-text{
  font-size:1vw;
   margin: 0;
   margin-bottom: 1%
}




