@media (max-width:640px) {

body {
  background-image: url("../images/fon640.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
nav{
    display:none;
}
.stock{
    background-image: url("../images/fon2-640.png");
    margin-top:-8%;
    padding-top: 21%;

}
.stock-title {
    font-size: 4vw;
    font-weight: 700;
}
.img {
    display:none;

}
.news{
    display:none;
}
footer{
    display:none;
}
main{
    width:100%;
    text-align:center;
    box-sizing:border-box;
    margin:25% 0 0 0;
    padding:0 8% 0 8%;

}
.header-burgerbutton img{
    margin:1.5% 2% 0 0;
    float:right;
    width:10%;

}
.clear{
    clear: both;
}
.title{
    outline:2px solid red;
}
.main-title{
    margin:0;
    font-size: 5vw;
    margin-bottom: 15%;
}
.main-introduction{
    margin:0;
    font-size:4vw;
    text-indent: 5%
}
}



@media (min-width:641px){
    header{
        display:none;
    }
}