.about {
	font-family: Arial, Helvetica, sans-serif;
  	font-size: 1.5vw;
  	color: #888888;
	outline: 0px solid green;
}
.about-title {
	font-size: 1.8vw;
  	color: #705290;
	outline: 0px solid green;
}
.about-introduction {
	margin-top: 5%;
	outline:0px solid blue;
	text-align: left;
}
.about-introduction-marker {
	width: 3%;
	margin-right: 1%;
}
.about-introduction-text {
	margin-top: 2%;
}

.about-i{
	display: table;
	margin-top: 6%;
	text-align: justify;
	outline: 0px solid yellow;
}
.about-i-photo {
	vertical-align: middle;
	width: 35.4%;
}
.about-i-text{
	vertical-align: middle;
	display: inline-block;
	text-indent: 3%;
	margin-left: 7%;
	width: 57%;
	outline: 0px solid black;
}

.about-more{
	margin-top: 7%;
	text-align: justify;
	outline: 0px solid red;
}
.about-more p:nth-child(1) {
	font-style: italic;
	text-indent: 3%;
}
.about-more p:nth-child(2) {
	text-decoration: underline;
}
.about-more p:nth-child(n+3) {
	margin: 0;
	text-indent: 3%;
}



.about-form-title {
	margin-bottom: 1%;
	font-size: 1.6vw;
	color: #705290;
}

.about-form {
	margin-top:3%;
	text-align: left;
	outline: 0px solid rosybrown;

}
.about-form form {
	display: inline-table;
	width: 100%;
	height: 100%;
}
.about-form-input {
	height: 25%;
	margin-bottom: 1%;
	padding-left: 0.5%;
	background-color: transparent;
	border: 1px solid #705290;
	font-family: Arial, Helvetica, sans-serif;
	color:#705290;
	font-size: 1vw;
	width:99.6%;
}
.about-form-input::-webkit-input-placeholder {color: #555;}
.about-form-input:-moz-placeholder {color:#555;}
.about-form-input:-ms-input-placeholder {color:#555;}

.about-form-input-email {
	position: relative;
    left: 0.3%;
	float: right;
	width: 49%;
}
.about-form-input-phone {
	float: left;
	width: 49%;
}
.about-form-input-message {
	padding-top:0.8%; 
	width: 99.4%;
	height: 70%;
}
.about-info-button {
	margin-top: 0;
	background-color: transparent;
	cursor: pointer;
	margin-left: 81.3%;
	width: 19%;
	border: 1px solid #705290;
	border-radius: 10px;
	padding: 0.5%;
	font-family: PhillippScript;
	font-size: 2vw;
	color: #705290;
}