@media (max-width:640px) {

body {
  background-image: url("../images/fon640.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
    display:none;
}
.header-burgerbutton img {
    margin:1.5% 2% 0 0;
    float:right;
    width:10%;
}
main {
    width:100%;
    text-align:center;
    box-sizing:border-box;
    padding:0 6%;
}
.main-title {
    margin:0;
    font-size: 5vw;
    margin-bottom: 12%;
}
.main-introduction{
    margin:0;
    font-size:4.5vw;
    text-indent: 5%
}
.stock {
}

.stock-title {
    font-size: 4vw;
    font-weight: 700;
}
.stock-images {
     display: none;
}


.img {
    display:none;
}
.news {
    display:none;
}
footer {
    display:none;
}


.clear {
    clear: both;
}


}



@media (min-width:641px){
    header{
        display:none;
    }
    
}

@media (max-width:801px){
.lesson-form img {
    width: 18%;
}
.lesson-input {
    margin-left: 37%;
}
.lesson-form-input {
    width: 99%;
}
.lesson-form-input-message {
    width: 159.5%;
}
.lesson-form-input-date {
    width: 102.5%;
}
.lesson-form-input-message {
    right: 58.9%;
} 
}