.contacts {
	outline: 2px solid red;
}
label {
	display: block;
}

h2, h3{
	margin:0; 
}
.contacts-form-adress{
	outline: 2px solid red;
	float: left;
	

}
.contacts-form-message{
	outline: 2px solid red;
	float: right;

}
button{
	margin-top: 10%;
}