
.product-preview-thumbs {
  width: 100%;
  position: relative;
  
}
.product-preview-thumbs:before {
	content: '';
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 30%;
  opacity: 0;
  position: absolute;
  left: 0;
  z-index: 2;
}
.product-preview-thumbs .product-preview-img {
  display: block;
  width: 100%; 
  height: auto; 
}
.product-preview-thumbs .product-preview-caption {
  width: 100%;
  color: black;
  position: absolute;
  bottom: 14%;
  left: 0;
  z-index: 3;
  text-align: center;
}
.product-preview-thumbs .product-preview-caption span {
  display: block;
  opacity: 0;
  position: relative;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.product-preview-thumbs .product-preview-caption .title {

  /*font-family: PhillippScript;
  font-size: 1vw;*/
}
.product-preview-thumbs .product-preview-caption .info {
}
.product-preview-thumbs:focus:before,
.product-preview-thumbs:focus span, .product-preview-thumbs:hover:before,
.product-preview-thumbs:hover span {
  opacity: 1;
}
.product-preview-thumbs:focus:before, .product-preview-thumbs:hover:before {
  top: 70%;
}
.product-preview-thumbs:focus span, .product-preview-thumbs:hover span {
  top: 0;
}
.product-preview-thumbs:focus .title, .product-preview-thumbs:hover .title {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}
.product-preview-thumbs:focus .info, .thumbsproduct-preview-:hover .info {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}


.catalog-thumbs {
  width: 100%;
  position: relative;
  cursor: pointer;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.302);
}
.catalog-thumbs:before {
  content: '';
  background-color: rgba(255, 255, 255, 0.702);
  width: 100%;
  height: 38%;
  opacity: 0;
  position: absolute;
  left: 0;
  z-index: 2;
}
.catalog-thumbs img {
  display: block;
  width: 100%; 
  height: auto; 
}
.catalog-thumbs .catalog-caption {
  width: 100%;
  color: #fff;
  position: absolute;
  bottom: 37.5%;
  left: 0;
  z-index: 3;
  text-align: center;
}
.catalog-thumbs .catalog-caption span {
  display: block;
  opacity: 0;
  position: relative;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.catalog-thumbs .catalog-caption .title {
  font-size: 1vw;
}
.catalog-thumbs .catalog-caption .info {
  margin-top: 5px;
}
.catalog-thumbs:focus:before,
.catalog-thumbs:focus span, .catalog-thumbs:hover:before,
.catalog-thumbs:hover span {
  opacity: 1;
}
.catalog-thumbs:focus:before, .catalog-thumbs:hover:before {
  top: 32%;
}
.catalog-thumbs:focus span, .catalog-thumbs:hover span {
  top: 0;
}
.catalog-thumbs:focus .title, .catalog-thumbs:hover .title {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}
.catalog-thumbs:focus .info, .catalog-thumbs:hover .info {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}






